body {
	background-color: gainsboro;
}

.list-item{
    transition: ease-in-out 0.2s;
}

.list-item:hover{
    color: blue;
}

.test{
    color: brown;
};

.visible{
    display: block;
}

.invisible{
    display: none;
}